---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">Bài viết nổi bật</h3>

{% assign featured_posts = site.posts | where: "featured", true %}
<div class="entries-list featured-posts">
  {% for post in featured_posts %}
    {% include archive-single.html type="list" %}
  {% endfor %}
</div>

<!-- <h3 class="archive__subtitle">Latest articles</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %} -->

<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% unless post.featured %}
      {% include archive-single.html type=entries_layout %}
    {% endunless %}
  {% endfor %}
</div>

{% include paginator.html %}

{% comment %}<!-- only show related on a post page when `related: true` -->{% endcomment %}
{% if page.id and page.related and site.related_posts.size > 0 %}
  {% include page__related.html posts=site.related_posts %}
{% comment %}<!-- otherwise show recent posts if no related when `related: true` -->{% endcomment %}
{% elsif page.id and page.related %}
  {% include page__related.html posts=site.posts %}
{% endif %}