---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">Bài viết nổi bật</h3>

{% assign featured_posts = site.posts | where: "featured", true %}
<div class="entries-list featured-posts">
  {% for post in featured_posts %}
    {% include archive-single.html type="list" %}
  {% endfor %}
</div>

<h3 class="archive__subtitle">Bài viết khác</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<!-- Container cho phần bài viết khác -->
<div class="entries-horizontal-scroll">
  {% for post in posts %}
    {% unless post.featured %}
      <div class="small-post">
        {% include archive-single.html type="grid" %}
      </div>
    {% endunless %}
  {% endfor %}
</div>

{% include paginator.html %}
